<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="index :: head">
  <title>Packages Left Sidebar List View - Star Travel</title>
</head>

<body>
  <!--=== option Switcher ===-->
  <i class="option-switcher-btn fa fa-gear hidden-xs"></i>
  <div class="option-switcher animated">
    <div class="option-swticher-header">
      <div class="option-switcher-heading">Template Options</div>            
      <div class="theme-close"><i class="fa fa-close"></i></div>
    </div>
    <div class="option-swticher-body">
      <!-- Theme Colors -->
      <ul class="list-unstyled">
        <li class="theme-default theme-active" data-color="default"></li>
        <li class="theme-green" data-color="green"></li>
        <li class="theme-blue" data-color="blue"></li>
        <li class="theme-purple last" data-color="purple"></li>
      </ul>
      <!-- Layout Styles -->
      <div class="row no-col-space layoutStyle">
        <div class="col-xs-6">
          <a href="javascript:void(0);" class="btn-u  btn-block active-switcher-btn wide-layout-btn">Wide</a>                
        </div>
        <div class="col-xs-6">
          <a href="javascript:void(0);" class="btn-u btn-block boxed-layout-btn">Boxed</a>
        </div>                
      </div> 
      <!-- Header Styles -->
      <div class="row no-col-space headerStyle">
        <div class="col-xs-6">
          <a href="javascript:void(0);" class="btn-u btn-block active-switcher-btn fixed-header-light">Default header</a>
        </div>
        <div class="col-xs-6">
          <a href="javascript:void(0);" class="btn-u btn-block fixed-header-dark">Fixed dark</a>
        </div>
        <div class="col-xs-6">
          <a href="javascript:void(0);" class="btn-u  btn-block static-header-light">Static light</a>
        </div>
        <div class="col-xs-6">
          <a href="javascript:void(0);" class="btn-u  btn-block static-header-dark">Static dark</a>
        </div>               
      </div>              
    </div>
  </div>
  <!--/option-switcher-->

  <div class="main-wrapper">

    <!-- HEADER -->
    <header>
    	<nav class="navbar navbar-default navbar-main navbar-fixed-top lightHeader" role="navigation">
          <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="index.html"></a>
            </div>
            
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
              <ul class="nav navbar-nav navbar-right">
                <li class="active dropdown singleDrop">
                  <a href="index.html">Home</a>
                </li>
                <li class="dropdown singleDrop">
                  <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Travel style </a>
                  <ul class="dropdown-menu dropdown-menu-left">
                    <li><a href="destination-cities.html">SOLOS TOURS</a></li>
                    <li><a href="destination-cities.html">CLASSIC TOURS</a></li>
                    <li><a href="destination-single-city.html">EXPERIENCE LOCAL LIFE $ DAY TOURS</a></li>
                    <li><a href="destination-single-city.html">PRIVATE TOUR</a></li>
                  </ul>
                </li>
                <li class="dropdown singleDrop">
                  <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Blog </a>
                </li>
                <li class="dropdown singleDrop">
                  <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">About us</a>
                  <ul class="dropdown-menu dropdown-menu-right">
                    <li class="dropdown dropdown-submenu">
                      <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">WHY TRAVEL WITH US? <i class="fa fa-chevron-right" aria-hidden="true"></i></a>
                      <ul class="dropdown-menu">
                        <li><a href="gallery-grid.html">All traveler style</a></li>
                        <li><a href="gallery-masonry.html">Family</a></li>
                        <li><a href="gallery-photo-slider.html">Classic</a></li>
                        <li><a href="gallery-photo-slider.html">Solo</a></li>
                        <li><a href="gallery-photo-slider.html">Private</a></li>
                      </ul>
                    </li>
                    <li><a href="contact.html">WHO TRAVEL WITH US?</a></li>
                    <li><a href="contact.html">BOOKING and TERM</a></li>
                    <li><a href="contact.html">RESPOSIBLE TOURISM</a></li>
                    <li><a href="contact.html">OUR OFFICE</a></li>
                    <li><a href="contact.html">CAREER</a></li>
                  </ul>
                </li>
                <li class="dropdown singleDrop">
                  <a href="contact.html">Contact</a>
                </li>
                <li class="dropdown searchBox">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="searchIcon"><i class="fa fa-search" aria-hidden="true"></i></span></a>
                  <ul class="dropdown-menu dropdown-menu-right">
                    <li>
                      <span class="input-group">
                        <input type="text" class="form-control" placeholder="Search..." aria-describedby="basic-addon2"/>
                        <span class="input-group-addon" id="basic-addon2">Search</span>
                      </span>
                    </li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </nav>
    </header>

    <!-- PAGE TITLE -->
    <section class="pageTitle" style="background-image:url(img/pages/page-title-bg6.jpg);">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <div class="titleTable">
              <div class="titleTableInner">
                <div class="pageTitleInfo">
                  <h1>Tour Packages</h1>
                  <div class="under-border"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- PAGE CONTENT -->
    <section class="mainContentSection packagesSection">
      <div class="container">
        <div class="row">
          <div class="col-sm-3 col-xs-12">
            <aside>
              <div class="panel panel-default packagesFilter">
                <div class="panel-heading">
                  <h3 class="panel-title">search</h3>
                </div>
                <div class="panel-body">
                  <div class="row">
                    <div class="col-xs-12">
                      <div class="input-group date ed-datepicker filterDate" data-provide="datepicker">
                        <input type="text" class="form-control" placeholder="MM/DD/YYYY"/>
                        <div class="input-group-addon">
                          <span class="fa fa-calendar"></span>
                        </div>
                      </div>
                    </div>
                    <div class="col-xs-12">
                      <div class="input-group date ed-datepicker filterDate" data-provide="datepicker">
                        <input type="text" class="form-control" placeholder="MM/DD/YYYY"/>
                        <div class="input-group-addon">
                          <span class="fa fa-calendar"></span>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-12">
                      <a href="#" class="btn btn-block buttonTransparent">Search</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="panel panel-default packagesFilter">
                <div class="panel-heading">
                  <h3 class="panel-title">Price</h3>
                </div>
                <div class="panel-body">
                  <div class="row">
                    <div class="col-xs-12">
                      <div class="searchFilter">
                        <select name="guiest_id4" id="guiest_id4" class="select-drop">
                          <option value="0">$1000 - $2000</option>
                          <option value="1">$1400 - $2000</option>
                          <option value="2">$1600 - $2000</option>
                          <option value="3">$1800 - $2000</option>             
                        </select>
                      </div>
                    </div>
                    <div class="col-xs-12 priceRange">
                      <div class="price-slider-inner"> 
                        <span class="amount-wrapper">
                          Price:
                          <input type="text" id="price-amount-1"/>
                          <strong>-</strong>
                          <input type="text" id="price-amount-2"/> 
                        </span>                                            
                        <div id="price-range"></div>  
                      </div>
                      <input class="btn btn-default" type="submit" value="Filter"/>
                    </div>
                  </div>
                </div>
              </div>
            </aside>
          </div>
          <div class="col-sm-9 col-xs-12">
            <div class="row sidebarPage">
              <div class="col-xs-12">
                <div class="media packagesList">
                  <a class="media-left fancybox-pop" href="img/packages/package-list-01.png">
                    <img class="media-object" src="img/packages/package-list-01.png" alt="Image"/>
                  </a>
                  <div class="media-body">
                    <div class="bodyLeft">
                      <h4 class="media-heading"><a href="single-package-right-sidebar.html">Suspendisse Tour</a></h4>
                      <div class="countryRating">
                        <span>Asia</span>
                        <ul class="list-inline rating">
                          <li><i class="fa fa-star" aria-hidden="true"></i></li>
                          <li><i class="fa fa-star" aria-hidden="true"></i></li>
                          <li><i class="fa fa-star" aria-hidden="true"></i></li>
                          <li><i class="fa fa-star" aria-hidden="true"></i></li>
                          <li><i class="fa fa-star" aria-hidden="true"></i></li>
                        </ul>
                      </div>
                      <p>Integer purus ex, dictum nec elementum eu, tristique vel lectus. Donec rutrum lectus et pharetra egestas.</p>
                      <ul class="list-inline detailsBtn">
                        <li><span class="textInfo"><i class="fa fa-calendar" aria-hidden="true"></i> 27 jan, 2016</span></li>
                        <li><span class="textInfo"><i class="fa fa-clock-o" aria-hidden="true"></i> 5 days</span></li>
                      </ul>
                    </div>
                    <div class="bodyRight">
                      <div class="bookingDetails">
                        <h2>$499</h2>
                        <p>Per Person</p>
                        <a href="single-package-right-sidebar.html" class="btn buttonTransparent clearfix">Details</a>
                        <a class="btn buttonTransparent" data-toggle="modal" href='.html'>Inquiry</a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="media packagesList">
                  <a class="media-left fancybox-pop" href="img/packages/package-list-02.png">
                    <img class="media-object" src="img/packages/package-list-02.png" alt="Image"/>
                  </a>
                  <div class="media-body">
                    <div class="bodyLeft">
                      <h4 class="media-heading"><a href="single-package-right-sidebar.html">maldives tour</a></h4>
                      <div class="countryRating">
                        <span>Asia</span>
                        <ul class="list-inline rating">
                          <li><i class="fa fa-star" aria-hidden="true"></i></li>
                          <li><i class="fa fa-star" aria-hidden="true"></i></li>
                          <li><i class="fa fa-star" aria-hidden="true"></i></li>
                          <li><i class="fa fa-star" aria-hidden="true"></i></li>
                          <li><i class="fa fa-star" aria-hidden="true"></i></li>
                        </ul>
                      </div>
                      <p>Proin convallis magna vel libero accumsan sollicitudin. Quisque dapibus vitae turpis eu magna sagittis.</p>
                      <ul class="list-inline detailsBtn">
                        <li><span class="textInfo"><i class="fa fa-calendar" aria-hidden="true"></i> 27 jan, 2016</span></li>
                        <li><span class="textInfo"><i class="fa fa-clock-o" aria-hidden="true"></i> 5 days</span></li>
                      </ul>
                    </div>
                    <div class="bodyRight">
                      <div class="bookingDetails">
                        <h2>$349</h2>
                        <p>Per Person</p>
                        <a href="single-package-right-sidebar.html" class="btn buttonTransparent clearfix">Details</a>
                        <a class="btn buttonTransparent" data-toggle="modal" href='.html'>Inquiry</a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="media packagesList">
                  <a class="media-left fancybox-pop" href="img/packages/package-list-03.png">
                    <img class="media-object" src="img/packages/package-list-03.png" alt="Image"/>
                  </a>
                  <div class="media-body">
                    <div class="bodyLeft">
                      <h4 class="media-heading"><a href="single-package-right-sidebar.html">maldives tour</a></h4>
                      <div class="countryRating">
                        <span>Asia</span>
                        <ul class="list-inline rating">
                          <li><i class="fa fa-star" aria-hidden="true"></i></li>
                          <li><i class="fa fa-star" aria-hidden="true"></i></li>
                          <li><i class="fa fa-star" aria-hidden="true"></i></li>
                          <li><i class="fa fa-star" aria-hidden="true"></i></li>
                          <li><i class="fa fa-star" aria-hidden="true"></i></li>
                        </ul>
                      </div>
                      <p>Vivamus eu mattis nibh. Quisque eget ipsum at odio fringilla consequat vel id erat. Suspendisse non feugiat mi.</p>
                      <ul class="list-inline detailsBtn">
                        <li><span class="textInfo"><i class="fa fa-calendar" aria-hidden="true"></i> 27 jan, 2016</span></li>
                        <li><span class="textInfo"><i class="fa fa-clock-o" aria-hidden="true"></i> 5 days</span></li>
                      </ul>
                    </div>
                    <div class="bodyRight">
                      <div class="bookingDetails">
                        <h2>$599</h2>
                        <p>Per Person</p>
                        <a href="single-package-right-sidebar.html" class="btn buttonTransparent clearfix">Details</a>
                        <a class="btn buttonTransparent" href='booking-1.html'>Book</a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="media packagesList">
                  <a class="media-left fancybox-pop" href="img/packages/package-list-04.png">
                    <img class="media-object" src="img/packages/package-list-04.png" alt="Image"/>
                  </a>
                  <div class="media-body">
                    <div class="bodyLeft">
                      <h4 class="media-heading"><a href="single-package-right-sidebar.html">maldives tour</a></h4>
                      <div class="countryRating">
                        <span>Asia</span>
                        <ul class="list-inline rating">
                          <li><i class="fa fa-star" aria-hidden="true"></i></li>
                          <li><i class="fa fa-star" aria-hidden="true"></i></li>
                          <li><i class="fa fa-star" aria-hidden="true"></i></li>
                          <li><i class="fa fa-star" aria-hidden="true"></i></li>
                          <li><i class="fa fa-star" aria-hidden="true"></i></li>
                        </ul>
                      </div>
                      <p>Sagittis proin convallis magna vel libero accumsan sollicitudin. Quisque dapibus vitae turpis eu magna.</p>
                      <ul class="list-inline detailsBtn">
                        <li><span class="textInfo"><i class="fa fa-calendar" aria-hidden="true"></i> 27 jan, 2016</span></li>
                        <li><span class="textInfo"><i class="fa fa-clock-o" aria-hidden="true"></i> 5 days</span></li>
                      </ul>
                    </div>
                    <div class="bodyRight">
                      <div class="bookingDetails">
                        <h2>$199</h2>
                        <p>Per Person</p>
                        <a href="single-package-right-sidebar.html" class="btn buttonTransparent clearfix">Details</a>
                        <a class="btn buttonTransparent" href='booking-1.html'>Book</a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="media packagesList">
                  <a class="media-left fancybox-pop" href="img/packages/package-list-05.png">
                    <img class="media-object" src="img/packages/package-list-05.png" alt="Image"/>
                  </a>
                  <div class="media-body">
                    <div class="bodyLeft">
                      <h4 class="media-heading"><a href="single-package-right-sidebar.html">maldives tour</a></h4>
                      <div class="countryRating">
                        <span>Asia</span>
                        <ul class="list-inline rating">
                          <li><i class="fa fa-star" aria-hidden="true"></i></li>
                          <li><i class="fa fa-star" aria-hidden="true"></i></li>
                          <li><i class="fa fa-star" aria-hidden="true"></i></li>
                          <li><i class="fa fa-star" aria-hidden="true"></i></li>
                          <li><i class="fa fa-star" aria-hidden="true"></i></li>
                        </ul>
                      </div>
                      <p>Suspendisse non feugiat mi. Vivamus eu mattis nibh. Quisque eget ipsum at odio fringilla consequat vel id erat.</p>
                      <ul class="list-inline detailsBtn">
                        <li><span class="textInfo"><i class="fa fa-calendar" aria-hidden="true"></i> 27 jan, 2016</span></li>
                        <li><span class="textInfo"><i class="fa fa-clock-o" aria-hidden="true"></i> 5 days</span></li>
                      </ul>
                    </div>
                    <div class="bodyRight">
                      <div class="bookingDetails">
                        <h2>$999</h2>
                        <p>Per Person</p>
                        <a href="single-package-right-sidebar.html" class="btn buttonTransparent clearfix">Details</a>
                        <a class="btn buttonTransparent" data-toggle="modal" href='.html'>book</a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="media packagesList">
                  <a class="media-left fancybox-pop" href="img/packages/package-list-06.png">
                    <img class="media-object" src="img/packages/package-list-06.png" alt="Image"/>
                  </a>
                  <div class="media-body">
                    <div class="bodyLeft">
                      <h4 class="media-heading"><a href="single-package-right-sidebar.html">maldives tour</a></h4>
                      <div class="countryRating">
                        <span>Asia</span>
                        <ul class="list-inline rating">
                          <li><i class="fa fa-star" aria-hidden="true"></i></li>
                          <li><i class="fa fa-star" aria-hidden="true"></i></li>
                          <li><i class="fa fa-star" aria-hidden="true"></i></li>
                          <li><i class="fa fa-star" aria-hidden="true"></i></li>
                          <li><i class="fa fa-star" aria-hidden="true"></i></li>
                        </ul>
                      </div>
                      <p>Donec rutrum lectus et pharetra egestas. Integer purus ex, dictum nec elementum eu, tristique vel lectus.</p>
                      <ul class="list-inline detailsBtn">
                        <li><span class="textInfo"><i class="fa fa-calendar" aria-hidden="true"></i> 27 jan, 2016</span></li>
                        <li><span class="textInfo"><i class="fa fa-clock-o" aria-hidden="true"></i> 5 days</span></li>
                      </ul>
                    </div>
                    <div class="bodyRight">
                      <div class="bookingDetails">
                        <h2>$1199</h2>
                        <p>Per Person</p>
                        <a href="single-package-right-sidebar.html" class="btn buttonTransparent clearfix">Details</a>
                        <a class="btn buttonTransparent" data-toggle="modal" href='.html'>book</a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="media packagesList">
                  <a class="media-left fancybox-pop" href="img/packages/package-list-07.png">
                    <img class="media-object" src="img/packages/package-list-07.png" alt="Image"/>
                  </a>
                  <div class="media-body">
                    <div class="bodyLeft">
                      <h4 class="media-heading"><a href="single-package-right-sidebar.html">maldives tour</a></h4>
                      <div class="countryRating">
                        <span>Asia</span>
                        <ul class="list-inline rating">
                          <li><i class="fa fa-star" aria-hidden="true"></i></li>
                          <li><i class="fa fa-star" aria-hidden="true"></i></li>
                          <li><i class="fa fa-star" aria-hidden="true"></i></li>
                          <li><i class="fa fa-star" aria-hidden="true"></i></li>
                          <li><i class="fa fa-star" aria-hidden="true"></i></li>
                        </ul>
                      </div>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                      <ul class="list-inline detailsBtn">
                        <li><span class="textInfo"><i class="fa fa-calendar" aria-hidden="true"></i> 27 jan, 2016</span></li>
                        <li><span class="textInfo"><i class="fa fa-clock-o" aria-hidden="true"></i> 5 days</span></li>
                      </ul>
                    </div>
                    <div class="bodyRight">
                      <div class="bookingDetails">
                        <h2>$299</h2>
                        <p>Per Person</p>
                        <a href="single-package-right-sidebar.html" class="btn buttonTransparent clearfix">Details</a>
                        <a class="btn buttonTransparent" data-toggle="modal" href='.html'>book</a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="media packagesList">
                  <a class="media-left fancybox-pop" href="img/packages/package-list-08.png">
                    <img class="media-object" src="img/packages/package-list-08.png" alt="Image"/>
                  </a>
                  <div class="media-body">
                    <div class="bodyLeft">
                      <h4 class="media-heading"><a href="single-package-right-sidebar.html">maldives tour</a></h4>
                      <div class="countryRating">
                        <span>Asia</span>
                        <ul class="list-inline rating">
                          <li><i class="fa fa-star" aria-hidden="true"></i></li>
                          <li><i class="fa fa-star" aria-hidden="true"></i></li>
                          <li><i class="fa fa-star" aria-hidden="true"></i></li>
                          <li><i class="fa fa-star" aria-hidden="true"></i></li>
                          <li><i class="fa fa-star" aria-hidden="true"></i></li>
                        </ul>
                      </div>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                      <ul class="list-inline detailsBtn">
                        <li><span class="textInfo"><i class="fa fa-calendar" aria-hidden="true"></i> 27 jan, 2016</span></li>
                        <li><span class="textInfo"><i class="fa fa-clock-o" aria-hidden="true"></i> 5 days</span></li>
                      </ul>
                    </div>
                    <div class="bodyRight">
                      <div class="bookingDetails">
                        <h2>$349</h2>
                        <p>Per Person</p>
                        <a href="single-package-right-sidebar.html" class="btn buttonTransparent clearfix">Details</a>
                        <a class="btn buttonTransparent" data-toggle="modal" href='.html'>book</a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="media packagesList">
                  <a class="media-left fancybox-pop" href="img/packages/package-list-09.png">
                    <img class="media-object" src="img/packages/package-list-09.png" alt="Image"/>
                  </a>
                  <div class="media-body">
                    <div class="bodyLeft">
                      <h4 class="media-heading"><a href="single-package-right-sidebar.html">maldives tour</a></h4>
                      <div class="countryRating">
                        <span>Asia</span>
                        <ul class="list-inline rating">
                          <li><i class="fa fa-star" aria-hidden="true"></i></li>
                          <li><i class="fa fa-star" aria-hidden="true"></i></li>
                          <li><i class="fa fa-star" aria-hidden="true"></i></li>
                          <li><i class="fa fa-star" aria-hidden="true"></i></li>
                          <li><i class="fa fa-star" aria-hidden="true"></i></li>
                        </ul>
                      </div>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                      <ul class="list-inline detailsBtn">
                        <li><span class="textInfo"><i class="fa fa-calendar" aria-hidden="true"></i> 27 jan, 2016</span></li>
                        <li><span class="textInfo"><i class="fa fa-clock-o" aria-hidden="true"></i> 5 days</span></li>
                      </ul>
                    </div>
                    <div class="bodyRight">
                      <div class="bookingDetails">
                        <h2>$699</h2>
                        <p>Per Person</p>
                        <a href="single-package-right-sidebar.html" class="btn buttonTransparent clearfix">Details</a>
                        <a class="btn buttonTransparent" data-toggle="modal" href='.html'>book</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <div class="paginationCenter">
              <ul class="pagination">
                <li>
                  <a href="#" aria-label="Previous">
                    <span aria-hidden="true"><i class="fa fa-long-arrow-left" aria-hidden="true"></i>Previous</span>
                  </a>
                </li>
                <li class="active"><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">...</a></li>
                <li><a href="#">9</a></li>
                <li>
                  <a href="#" aria-label="Next">
                    <span aria-hidden="true">Next<i class="fa fa-long-arrow-right" aria-hidden="true"></i></span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- FOOTER -->
    <footer th:replace="index :: footer">
    
    </footer>
    
  </div>

  <!-- INQUIRY MODAL -->
  <div class="modal fade bookingModal modalBook" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Inquiry About Tour</h4>
        </div>
        <div class="modal-body">
          <form action="#">
            <div class="form-group">
              <input type="text" class="form-control" id="yourName" placeholder="Your Name"/>
            </div>
            <div class="form-group">
              <input type="email" class="form-control" id="yourEmail" placeholder="Your Email"/>
            </div>
            <div class="form-group">
              <input type="text" class="form-control" id="phoneNumber" placeholder="Phone Number"/>
            </div>
            <div class="form-group">
              <textarea class="form-control" rows="3" placeholder="Message"></textarea>
            </div>
            <button type="submit" class="btn buttonCustomPrimary">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <th:block th:fragment="index :: script" ></th:block>
</body>

</html>